* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    margin : 0;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    background-color: #1F2937;
    text-align: center;
    padding-top: 18px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 72px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    gap: 18px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    background-color: #1F2937;
    font-family: "Roboto";
    margin: 0;
    padding: 20px 140px;
    gap: 24px;

}

.container1 {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container2 {
    display: flex;
    justify-content: end;
    width: 60%;
    max-width:100%;
    aspect-ratio: 2 / 1;
    display: flex;
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    width: 130px;
  }

.information {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    font-family: "Roboto";
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    margin-top: 24px
}

.box {
    height: 180px;
    width: 180px;
    border-radius: 8px;
    border: 4px solid #3882F6;
}

.descriptions {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    margin-top: 12px
}

.description {
    height: 180px;
    width: 180px;
    text-align: center;
    color: #1F2937;
    font-family: "Roboto";
    font-size: 18px;
}

.motivation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 72px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: "Roboto";
    font-weight: 300;
    justify-content: center;
}

.author {
    display: flex;
    font-size: 20px;
    color: #1F2937;
    font-family: "Roboto";
    font-weight: bold;
    justify-content: end;
}

.action {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
    background-color: #3882F6;
    margin: 250px;
    border-radius: 6px;
    padding: 30px 90px;
}

.call {
    color: #F9FAF8;
    font-family: "Roboto";
}

.call-subtext {
    color: #E5E7EB;
    font-family: "Roboto";
    font-size: 16px;
}

.frame {
    border: 2px solid white;
    justify-items: end;
    font-size: 18px;
}