* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 12px 48px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
}

.links {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    gap: 18px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}